<section class="container">
    <h1>User management table</h1>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Last session</th>
            <th scope="col">Registered at</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <th scope="row">1</th>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td>{{updated_at}}</td>
                <td>{{created_at}}</td>
                <td>{{status}}</td>
            </tr>
            {{else}}
                <th scope="row">Empty</th>
            {{/each}}
        </tbody>
    </table>
</section>