<h1>User management table</h1>
<table class="table">
    <thead class="thead-dark">
    <button id="btn-block" class="btn btn-secondary">Block</button>
    <button id="btn-unblock" class="btn btn-secondary">Unblock</button>
    <button id="btn-delete" class="btn btn-danger">Delete</button>
    <tr>
        <th scope="col" id="checkbox"><button id="toggleCheckbox">☐</button></th>
        <th scope="col">N</th>
        <th scope="col">Name</th>
        <th scope="col">E-mail</th>
        <th scope="col">Last session</th>
        <th scope="col">Registered at</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    {{#each users}}
        <tr>
            <th scope="row"><input type="checkbox" value="{{id}}"></th>
            <td>{{@index}}</td>
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td class="date">{{formatDate last_session}}</td>
            <td class="date">{{formatDate createdAt}}</td>
            <td>{{status}}</td>
        </tr>
    {{else}}
        <th scope="row">Empty</th>
    {{/each}}
    </tbody>
</table>